.list-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #7785db;
}

.list-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40vw;
  height: 80vh;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 48px;
  padding-top: 36px;
  overflow-y: hidden;
}

.list-screen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list-screen-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-screen-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
}

.logo-img {
  width: 72px;
  height: 72px;
}

.list-screen-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85%;
  margin-top: 36px;
}

.list-screen-header-title {
  margin-left: 24px;
}

.list-render-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
